
@model RoleViewModel
@{
    ViewData["Title"]= "Add role";
}

<h1 class="text-center my-5">Add a new role</h1>
<div class="admin-container  row flex-column align-items-center justify-content-center mb-5">

<div class=col-md-4> 
    <form method = "post">
        <div asp-validation-summary="ModelOnly" class ="text-danger"></div>
        <div class="form-group">
            <label asp-for="RoleName"></label>
            <input asp-for="RoleName" class="form-control"/>
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
       <button type="submit" class="btn-dark btn-lg w-100 ">Create role</button>

    </form>
</div>
</div>