@model ProductDealsItem

@{
    ViewData["Title"] = "Add Product to Deal";
}
<div class="admin-container row justify-content-center mt-5 mb-5">
    <div class="col-md-4">
      <form enctype="multipart/form-data" asp-action="Index">
            <h3>Add new price to this item</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      

           
            <div class="row">
                <div class="form-group col">
                    <label asp-for="NewPrice" class="control-label"></label>
                    <input asp-for="NewPrice" class="form-control" />
                    <span asp-validation-for="NewPrice" class="text-danger"></span>
                </div>
               
            </div>
         
            <div class="form-group d-flex justify-content-between">
                <input type="submit" value="Add" class="btn btn-primary col-5" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">
 $(".custom-file-input").on("change", function () {
     var fileName = $(productImage).val().split("\\").pop();
     $(productImage).siblings(".custom-file-label").addClass("selected").html(fileName);
 });
    
</script>
}